.calendarWrp {
  display: flex;
}
.calendar {
  z-index: 3;
  width: 600px;
  height: 450px;
  margin: 90px 0 50px 10px;
  background: linear-gradient(315deg, rgb(36 19 56 / 99%) 11%, #320d0d 100%);
  display: grid;
  grid-template-columns: 77px 77px 77px 77px 77px 77px 77px;
  grid-template-rows: 77px 77px 77px 77px 77px;
  gap: 7px 7px;
  grid-template-areas:
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .';
  box-shadow: 5px 2px 22px 10px #0b060d, inset 0px 0px 35px 1px rgb(5 3 3 / 75%);
}
.calendarTitle {
  width: min-content;
  height: min-content;
}
.calendarDesc,
.calendarTodo {
  width: min-content;
  height: min-content;
}
.calendarBox {
  height: 77px;
  width: 77px;
  overflow: hidden;
  background: linear-gradient(315deg, rgb(4 54 55 / 99%) 11%, #35143b 100%);
  margin: 10px;
  box-shadow: inset 0px 0px 35px 1px rgb(5 3 3 / 75%);
  color: #df7676;
  transition: all 0.5s;
}

.calendarBox:hover {
  transform: scale(1.1);
}

.calendarBoxExp {
  background: linear-gradient(130deg, #623c3c -16%, #2c1030e3 100%);
}
.activeDay {
  width: 300px;
  height: 450px;
  background-color: gray;
  transition: all 1s;
  z-index: 1;
  margin: 90px auto 50px 0px;
}
.active {
  transform: translateX(0);
}
.disabled {
  transform: translateX(-101%);
}
.carouselWrp {
  margin: 100px 0 0;
  display: flex;
  align-items: center;
}
.carouselContainer {
  width: 150px;
  height: 25px;
  background: blue;
  margin: 0;
  display: flex;
  transition: all 1s;
}
.carouselBtn {
  margin: 0;
  background: none;
  border: none;
}

.carouselItem {
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 1s;

  height: 100%;
  white-space: pre-wrap;
}
