.calendarBox {
  min-height: 100px;
  height: min-content;
  min-width: 50px;
  width: min-content;
}
.calendar {
  display: flex;
  width: 800px;
  height: 500px;
}
.calendarTitle {
  width: min-content;
  height: min-content;
}
.calendarDesc,
.calendarTodo {
  width: min-content;
  height: min-content;
}
