.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 400px;
  background: linear-gradient(
    229deg,
    rgb(12 12 235 / 11%) 0%,
    rgb(8 168 240 / 15%) 49%,
    rgba(255, 255, 255, 0.4822303921568627) 100%
  );
}
